@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* --------------- Common --------------- */
:root {
  --default-color: #FFFFFF;
  --main-color: #000000;
  --second-color: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--main-color);
  background-color: #f2F2F2;
  height: 100%;
}

.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-index {
  color: var(--main-color);
  background-color: var(--default-color);
  flex-grow: 1;
}

.link-button {
  font-family: "PT Sans", sans-serif;
  color: var(--default-color);
  text-transform: uppercase;
  background-color: #756157;
  border: 1px solid #756157;
  padding: 5px;
  border-radius: 4px;
  display: block;
  text-align: center;
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

.link-button:not(.disabled):hover,
.link-button:not(.disabled):focus-visible {
  background-color: #615048;
  border-color: #615048;
  transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

.link-button:not(.disabled):active,
.navigation-link.link-button:not(.disabled):active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s, color 0.3s ease-in-out;
}

.link-button.disabled {
  background-color: #e5e5e5;
  color: var(--default-color);
  border-color: #e5e5e5;
}

.action-button {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  color: var(--default-color);
  text-transform: uppercase;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  padding: 5px;
  border-radius: 4px;
  display: block;
  text-align: center;
  align-content: center;
  transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

.action-button:not(.disabled):hover,
.action-button:not(.disabled):focus-visible {
  background-color: #68a2ca;
  border-color: #68a2ca;
  transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

.action-button:not(.disabled):active {
  background-color: #82b3d3;
  border-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s ease-in-out;
}

.action-button.favorite {
  background-color: #7db54f;
  border: 1px solid #7db54f;
}

.action-button.favorite:not(.disabled):hover,
.action-button.favorite:not(.disabled):focus-visible {
  background-color: #6c9e42;
  border-color: #6c9e42;
  transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

.action-button.favorite:not(.disabled):active {
  background-color: #7db54f;
  border-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.action-button.disabled {
  background-color: #e5e5e5;
  color: var(--default-color);
  border-color: #e5e5e5;
}

.reset-button {
  font-family: "PT Sans", sans-serif;
  color: var(--default-color);
  text-transform: uppercase;
  background-color: transparent;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: block;
  text-align: center;
  align-content: center;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:not(.disabled):focus-visible {
  outline: none;
  border: 3px solid #83b3d3;
  transition: border 0.3s ease-in-out;
}

.reset-button:not(.disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button.disabled {
  opacity: 0.1;
}


.index-grow {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------- Header --------------- */

.main-header {
  color: var(--main-color);
  background-color: var(--default-color);
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  column-gap: 28px;
}

.logo-link {
  width: 140px;
  z-index: 2;
  margin-bottom: -6px;
}

.logo-link img {
  display: block;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-list .navigation-item {
  align-content: center;
}

.navigation-user {
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
  text-decoration: none;
  padding: 20px 16px;
  display: block;
  max-width: 250px;
  position: relative;
}

.navigation-link:not(.navigation-link-current):not(.link-button):hover {
  color: #83b3d3;
}

.navigation-link-current.navigation-link::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  z-index: 2;
}

.navigation-link.link-button {
  font-size: 16px;
  line-height: 1.25;
  padding: 7px 8px;
  display: block;
  color: var(--default-color);
  min-height: 35px;
  min-width: 159px;
}

.navigation-item .link-button {
  margin: 14px 0 14px 22px;
}

.link-search,
.link-favorite {
  display: block;
  padding: 20px 12px;
}

.link-search:before {
  content: url("../images/icons/service/search.svg");
  display: block;
  width: 20px;
  height: 20px;
}

.link-favorite:before {
  content: url("../images/icons/service/heart.svg");
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.favorite-count {
  position: absolute;
  max-width: 20px;
  width: 100%;
  max-height: 20px;
  height: 100%;
  left: 50%;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 10px;
  line-height: 1;
  color: var(--default-color);
  padding: 3px;
  background-color: #7db54f;
  border-radius: 50%;
}


/* --------------- Representation --------------- */

.representation {
  color: var(--main-color);
  background: #3f5e72 url("../images/decorate/background/index-background.jpg") no-repeat;
  background-size: 100%;
  padding: 51px 0 82px;
  clip-path: polygon(20.83% 88%, 20.84% 93.03%, -0% 88%, -0% 0%, 100% 0%, 100.00% 88%, 79.17% 93.02%, 79.17% 88%, 50% 100%);
}

.representation-image {
  display: block;
  margin: 0 auto;
}

/* --------------- Advantages --------------- */

.advantages {
  background-color: var(--default-color);
  padding-top: 69px;
}

.advantages-title {
  margin: 0 auto 25px;
  width: 650px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  margin: 0 auto 90px;
  width: 651px;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  min-height: 385px;
  align-content: center;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 70px 80px;
}

.advantages-item.item-dark {
  background-color: #82b3d3;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.advantages-item.item-dark:last-child {
  flex-direction: row-reverse;
}

.advantages-item.item-light {
  background-color: #83b3d333;
  width: 400px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item.item-brightest {
  background-color: #83b3d31f;
  width: 400px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item-title {
  margin: 0 0 30px;
  padding: 0 34px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
  position: relative;
}

.advantages-item-title::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 60px;
  height: 2px;
  background-color: var(--main-color);
  opacity: 0.3;
}

.item-dark .advantages-item-title::after {
  background-color: var(--default-color);
  opacity: 0.3;
}

.advantages-item-image {
  display: block;
}

.advantages-item-description {
  margin: 30px 0 0;
  font-size: 18px;
  line-height: 1.17;
  color: var(--second-color);
}

.item-dark .advantages-item-title {
  color: var(--default-color);
  margin: 0 0 30px;
}

.item-dark .advantages-item-description {
  color: var(--default-color);
}

/* --------------- Services --------------- */

.services {
  background-color: var(--default-color);
  padding: 64px 0 0;
}

.services-title {
  max-width: 510px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-subtitle {
  max-width: 510px;
  margin: 0 auto 64px;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
}

.services-list {
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.services-item-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
}

.service-housing::before {
  content: url("../images/icons/advantage/advantage-house.svg");
  display: block;
  padding-bottom: 25px;
}

.service-nutrition::before {
  content: url("../images/icons/advantage/advantage-food.svg");
  display: block;
  padding-bottom: 25px;
}

.service-souvenirs::before {
  content: url("../images/icons/advantage/advantage-present.svg");
  display: block;
  padding-bottom: 25px;
}

.services-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  color: var(--second-color);
}

.services-item {
  min-height: 385px;
  align-content: center;
  width: 400px;
  padding: 70px 85px;
}

.services-item.item-light {
  background-color: #83b3d333;
}

/* --------------- Suggestion --------------- */

.suggestion {
  text-align: center;
  background-color: var(--default-color);
  padding: 97px 100px 96px;
}

.suggestion-title {
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.suggestion-subtitle {
  max-width: 600px;
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
}

.suggestion-link-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
}

.suggestion-link {
  min-height: 52px;
  font-weight: 700;
  padding: 8px 50px;
  text-decoration: none;
  display: block;
}

.suggestion-link.link-button {
  font-size: 20px;
  line-height: 1.2;
}

/* --------------- Notification --------------- */

.notification {
  text-align: center;
  color: var(--main-color);
  background-color: var(--default-color);
  padding: 96px 100px 104px;
}

.notification-title {
  margin: 0 auto 20px;
  max-width: 684px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.notification-subtitle {
  margin: 0 auto 54px;
  max-width: 540px;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
}

.notification.main-notification {
  color: var(--default-color);
  background: #3f5e72 url("../images/decorate/background/subscribe-block.jpg") no-repeat;
  background-size: cover;
}

.notification .notification-subtitle {
  margin-bottom: 56px;
}

.main-notification .notification-subtitle {
  color: var(--default-color);
}

.notification-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 684px;
  margin: 0 auto;
}

.notification-button {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  min-width: 232px;
  min-height: 52px;
  flex-shrink: 0;
  border-radius: 0 4px 4px 0;
  max-width: 400px;
}

.notification-input {
  font-size: 18px;
  font-family: inherit;
  line-height: 1.33;
  font-weight: 400;
  flex-grow: 1;
  padding: 14px 18px;
  max-height: 52px;
  max-width: 452px;
  border: 3px solid var(--default-color);
  border-right: none;
  border-radius: 4px 0 0 4px;
  transition: border 0.3s ease-in-out;
}

.catalog-page .notification-input {
  background-color: #f2F2F2;
  border-color: #f2F2F2;
}

.notification-input:not(:disabled):hover,
.catalog-page .notification-input:not(:disabled):hover {
  border-color: #83b3d3;
  transition: border-color 0.3s ease-in-out;
}

.notification-input:focus-visible,
.catalog-page .notification-input:focus-visible {
  outline: none;
  border-color: #83b3d3;
  transition: border 0.3s ease-in-out;
}

.notification-input:disabled {
  opacity: 0.6;
}


/* --------------- Catalog --------------- */

.main-catalog {
  color: var(--main-color);
  background-color: var(--default-color);
}

.catalog-header {
  padding: 35px 70px;
  min-height: 412px;
  background: #82b3d3 url("../images/decorate/background/filter-block.jpg") no-repeat;
  background-size: cover;
}

.catalog-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--default-color);
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
}

.catalog-filter-button-wrapper {
  margin-right: 0;
}

.catalog-filter-group.price {
  max-width: 288px;
  margin-left: auto;
  margin-right: 70px;
}

.catalog-filter-group.housing {
  max-width: 150px;
  margin-right: 71px;
}

.catalog-filter-group.infrastructure {
  max-width: 150px;
  margin-right: 71px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--default-color);
  text-transform: capitalize;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-period {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2px;
}

.period-item {
  position: relative;
}

.period-item-label {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 22px;
  font-size: 18px;
  color: var(--main-color);
  opacity: 0.3;
}

.period-item-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--main-color);
  max-width: 143px;
  min-height: 48px;
  border: 3px solid #F2F2F2;
  padding: 8px 16px;
  background-color: #F2F2F2;
}

.period-item-input::-webkit-outer-spin-button,
.period-item-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-period-item:first-child .period-item-input {
  border-radius: 4px 0 0 4px;
  padding-right: 40px;
}

.catalog-filter-period-item:last-child .period-item-input {
  border-radius: 0 4px 4px 0;
  padding-right: 43px;
}

.period-item-input:hover {
  background-color: #e5e5e5;
}

.period-item-input:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.catalog-filter.period-range {
  display: block;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--default-color);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--default-color);
  border: 2px solid var(--default-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.range-toggle:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #82b3d3;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  top: -8px;
  left: 205px;
}

.control {
  font-size: 18px;
  line-height: 1.28;
  color: var(--default-color);
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--default-color);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.control:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s ease-in-out;
}

.control:hover .control-mark,
.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s ease-in-out;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s ease-in-out;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  display: block;
  content: "";
  mask: url("../images/icons/service/control_checkbox.svg") no-repeat center;
  background-color: #3f5e72;
  width: 20px;
  height: 20px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  display: block;
  content: "";
  mask: url("../images/icons/service/control_radio.svg") no-repeat center;
  background-color: #3f5e72;
  width: 20px;
  height: 20px;
}

.catalog-filter-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
  max-width: 191px;
}

.catalog-filter-button {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  min-height: 36px;
  min-width: 190px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 8px 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-left: 8px;
  align-content: center;
}

.breadcrumbs-item:first-child {
  margin-left: 0;
  align-content: center;
}

.link-home {
  background: url("../images/icons/service/home.svg") no-repeat;
  width: 15px;
  height: 13px;
  display: block;
  text-align: center;
  align-content: center;
}

.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.3;
  color: var(--default-color);
  display: block;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.breadcrumbs-link:not(.link-home):hover {
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s ease-in-out;
}

.breadcrumbs-link:not(.link-home):active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:before {
  content: url("../images/icons/service/arrow.svg");
  margin-right: 10px;
}

.breadcrumbs-link.link-home:before {
  content: none;
}

/* --------------- Offers --------------- */
.catalog-offers {
  padding: 50px 70px 60px;
  color: var(--main-color);
  background-color: var(--default-color);
}

.offers-menu {
  margin-bottom: 40px;
  display: flex;
  gap: 71px;
  justify-content: space-between;
  align-items: center;
}

.offers-count {
  margin: 0;
  font-family: inherit;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.offers.select-control {
  margin-left: auto;
}

.select-control {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--second-color);
  background-color: var(--default-color);
  min-width: 292px;
  min-height: 49px;
  appearance: none;
  margin: 0;
  padding: 10px 40px 10px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  background-image: url("../images/icons/service/arrow_y.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus-visible {
  outline: none;
  border-color: #83b3d3;
  transition: border-color 0.3s ease-in-out;
}

.offers .option {
  font-size: 18px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--second-color);
}

.offers-view {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.offers-view-link {
  padding: 15px 14px;
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  width: 48px;
  height: 48px;
}

.offers-view-link.selected {
  border-color: var(--main-color);
}

.show-medium-cards:before {
  content: "";
  display: flex;
  width: 16px;
  height: 14px;
  align-items: center;
  justify-content: center;
  mask: url("../images/icons/view/view-flat.svg") no-repeat center;
  background-color: #333333;
}

.show-large-cards:before {
  content: "";
  display: flex;
  width: 16px;
  height: 14px;
  align-items: center;
  justify-content: center;
  mask: url("../images/icons/view/view-main.svg") no-repeat center;
  background-color: #333333;
}

.show-list-cards:before {
  content: "";
  display: flex;
  width: 16px;
  height: 14px;
  align-items: center;
  justify-content: center;
  mask: url("../images/icons/view/view-table.svg") no-repeat center;
  background-color: #333333;
}

.offers-view-link:hover,
.offers-view-link:active {
  border-color: var(--main-color);
  transition: border-color 0.3s ease-in-out;
}

.offers-view-link:focus-visible {
  outline: none;
  border: 2px solid #68a2ca;
  transition: border-color 0.3s ease-in-out;
}


.offer-card {
  box-shadow: inset 0 0 0 1px #e6e6e6;
  border-radius: 4px;
  display: grid;
  grid: 1fr/ 1fr;
  padding: 20px;
  gap: 16px;
}

.offer-card-link {
  text-decoration: none;
  display: block;
}

.offer-card-image {
  display: block;
  margin-bottom: 16px;
  background-color: #82b3d3;
}

.offer-card-title {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--main-color);
  margin: 0;
}

.offer-card-info {
  margin: 0;
  display: grid;
  grid: 1fr / 1fr 1fr;
  gap: 20px;
  align-items: end;
}

.offer-card-type {
  color: var(--second-color);
}

.offer-card-price {
  font-weight: 400;
  color: var(--second-color);
  justify-self: end;
}

.offer-card-action {
  display: grid;
  grid: 1fr / 1fr 1fr;
  gap: 20px;
}

.offer-card-rating {
  display: grid;
  grid: 1fr / 1fr 1fr;
  gap: 20px;
}

.offer-link {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-decoration: none;
  min-height: 36px;
  min-width: 140px;
}

.rating-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rating-number {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2F2F2;
  margin: 0;
  min-width: 140px;
  min-height: 36px;
  padding: 5px;
  text-align: center;
  align-content: center;
  border-radius: 4px;
}

.star {
  background-image: url("../images/icons/service/star.svg");
  width: 18px;
  height: 18px;
  margin-right: 6px;
  display: block;
  text-align: center;
  align-content: center;
}

.star:last-child {
  margin-right: 0;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 40px 0 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  border-top: 1px solid #E5E5E5;
}

.pagination-item {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.pagination-link {
  border-radius: 4px;
  align-content: center;
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 0 10px;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
  color: var(--default-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  transition: background-color 0.3s ease-in-out;
}

.pagination-link:not(.pagination-current):not(.periods):hover,
.pagination-link:not(.pagination-current):not(.periods):focus-visible {
  background-color: #68a2ca;
  transition: background-color 0.3s ease-in-out;
}

.pagination-link:not(.pagination-current):not(.periods):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-link.pagination-current {
  background-color: #f2F2F2;
  color: var(--main-color);
}

.pagination-link.periods {
  background-color: transparent;
  color: var(--main-color);
}

/* --------------- Footer --------------- */

.main-footer {
  color: var(--main-color);
  background-color: var(--default-color);
}

/* --------------- Contact --------------- */

.contact {
  background-color: var(--default-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 30px;
  width: 1060px;
  margin: 0 auto;
}

.contact-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  flex-wrap: wrap;
}

.link-vk:before {
  content: "";
  width: 47px;
  height: 40px;
  display: block;
  text-align: center;
  align-content: center;
  mask: url("../images/icons/social/social-vk.svg") no-repeat center;
  background-color: #83b3d3;
}

.link-telegram:before {
  content: "";
  width: 47px;
  height: 40px;
  display: block;
  text-align: center;
  align-content: center;
  mask: url("../images/icons/social/social-telegram.svg") no-repeat center;
  background-color: #83b3d3;
}

.link-youtube:before {
  content: "";
  width: 47px;
  height: 40px;
  display: block;
  text-align: center;
  align-content: center;
  mask: url("../images/icons/social/social-youtube.svg") no-repeat center;
  background-color: #83b3d3;
  transition: background-color 0.3s ease-in-out;
}

.contact-social-link:hover.link-vk:before,
.contact-social-link:focus-visible.link-vk:before,
.contact-social-link:hover.link-telegram:before,
.contact-social-link:focus-visible.link-telegram:before,
.contact-social-link:hover.link-youtube:before,
.contact-social-link:focus-visible.link-youtube:before {
  background-color: #68a2ca;
  transition: background-color 0.3s ease-in-out;
}

.contact-social-link:active.link-vk:before,
.contact-social-link:active.link-telegram:before,
.contact-social-link:active.link-youtube:before {
  background-color: #68a2ca;
  opacity: 0.3;
  transition: background-color 0.3s,
  opacity 0.3s ease-in-out;
}

.contact-address {
  display: flex;
  flex-direction: column;
}

.contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

.contact-phone:hover,
.contact-phone:focus-visible {
  color: #756157;
  transition: color 0.3s ease-in-out;
}

.contact-phone:active {
  color: #756157;
  opacity: 0.3;
  transition: color 0.3s,
  opacity 0.3s ease-in-out;
}

.contact-developer-link {
  margin: 8px 0;
}

.contact-developer-link::before {
  content: "";
  mask: url("../images/logo/logo-htmlacademy.svg") no-repeat center;
  background-color: #333333;
  display: block;
  width: 115px;
  height: 34px;
  transition: background-color 0.3s ease-in-out;
}

.contact-developer-link:hover.contact-developer-link::before,
.contact-developer-link:focus-visible.contact-developer-link::before {
  background-color: #756157;
  transition: background-color 0.3s ease-in-out;
}

.contact-developer-link:active.contact-developer-link::before {
  background-color: #756157;
  opacity: 0.3;
  transition: background-color 0.3s,
  opacity 0.3s ease-in-out;
}

/* -------------- modal-content------------------*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
}

.modal-container.close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: var(--default-color);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:before {
  content: url("../images/icons/service/cross.svg");
  display: block;
  padding: 15px;
}

.modal-close-button:hover,
.modal-close-button:active {
  background-color: #e5e5e5;
}

.modal-close-button:focus-visible {
  outline: 3px solid #83b3d3;
  background-color: #e5e5e5;
}

.modal-close-button:active.modal-close-button:before {
  opacity: 0.3;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.search-form-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0 0 65px;
  padding-right: 40px;
}

.date-field {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 440px;
  column-gap: 10px;
  row-gap: 4px;
  grid-template-areas:
    "label wrapper";
}

.form-input-wrapper {
  grid-area: wrapper;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.date-field .form-label {
  grid-area: label;
  align-content: start;
  padding-top: 10px;
}

.form-label {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--main-color);
}

.date-field .form-input {
  padding: 12px 60px 12px 20px;
  border-radius: 4px;
  background-color: #f2f2f2;
  height: 48px;
}

.form-input-action {
  position: absolute;
  display: block;
  right: 15px;
  top: 7px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f2F2F2;
  transition: background-color 0.2s ease-in-out;
}

.form-input-action::after {
  content: "";
  display: block;
  mask: url("../images/icons/service/date.svg") no-repeat center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
}

.form-input-action:focus-visible {
  outline: 3px solid #83b3d3;
}

.guests-field .form-input::-webkit-outer-spin-button,
.guests-field .form-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.guests-field .form-input {
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 111px;
  height: 48px;
  padding: 14px 40px;
  text-align: center;
  display: block;
}

.form-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--main-color);
  border: none;
  transition: background-color 0.3s, border 0.3s ease-in-out;
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input:hover,
.form-input:hover + .form-input-action {
  background-color: #e5e5e5;
  transition: background-color 0.3s ease-in-out;
}

.form-input:focus-visible {
  outline: 3px solid #83b3d3;
  background-color: #e5e5e5;
  transition: background-color 0.3s,
  border 0.3s ease-in-out;
}

.form-input:focus-visible + .form-input-action {
  background-color: #e5e5e5;
  transition: background-color 0.3s ease-in-out;
}

.guests-field {
  position: relative;
  width: 247px;
}

.guests-field.child {
  width: 242px;
}

.form-count {
  position: absolute;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.minus {
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  padding: 0;
}

.minus:before {
  content: "";
  display: block;
  mask: url("../images/icons/service/minus.svg") no-repeat center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
}

.form-count:focus-visible.minus:before,
.form-count:focus-visible.plus:before,
.form-count:hover.minus:before,
.form-count:hover.plus:before {
  background-color: rgba(0, 0, 0);
}

.form-count:active.minus:before,
.form-count:active.plus:before {
  background-color: rgba(0, 0, 0, 0.3);
}

.form-count:focus-visible,
.form-count:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.plus:before {
  content: "";
  display: block;
  mask: url("../images/icons/service/plus.svg") no-repeat center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
}

.plus {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 0;
}

.input-error,
.input-hint {
  grid-area: subtitle;
  padding: 0 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.search-form-field {
  margin: 0 0 24px;
}


.search-form-field.guests-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-error {
  color: #ff5757;
}

.input-hint {
  color: #333333;
}

.search-form-field-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 60px;
}

.tooltip-toggle {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #83b3d3;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-toggle::after {
  content: "";
  display: block;
  mask: url("../images/icons/service/info.svg") no-repeat center;
  background-color: var(--default-color);
  width: 20px;
  height: 20px;
  margin: auto;
}

.tooltip-text {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #333333;
  color: var(--default-color);
  font-family: inherit;
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
  text-transform: none;
  padding: 20px 22px 22px 20px;
  border-radius: 10px;
  display: block;
  width: 256px;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-text:after {
  content: '';
  background: url("../images/icons/service/vector.svg") no-repeat;
  height: 9px;
  width: 20px;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.search-form-button {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 20px;
  margin-top: 23px;
  border-radius: 10px;
  font-weight: 700;
}


